[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
djangorestframework = "*"
pillow = "*"
pytest-django = "*"
django-cors-headers = "*"
markdown = "*"
django-markdownx = "*"
django-cleanup = "*"
markdown-katex = "*"
django-mdeditor = "*"
dj-static = "*"
gunicorn = "*"
dj-database-url = "*"
whitenoise = "*"
psycopg2 = "*"
boto3 = "*"
django-storages = "*"

[requires]
python_version = "3.8"
